body{
    font-family: 'Raleway', sans-serif;
    
    background: #F4F6F5;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
button{
    cursor: pointer;
}
            /* <!-- -------------header------------- --> */
.header {
    background: #E1EDE6;
    display: flex;
    justify-content: space-around;
}
.header-logo {
    color: #598D66;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    display:flex;
    align-items: center;
   
}
.header-logo-img {
    width: 35px; height: 35px;
}
.header-navigation {
    
}
.header-list {
    display: flex;
    justify-content:flex-end;
}
.header-list-item {
}
.header-list-link {
    color: #2C2D35;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    padding-right: 60px;
}
            /* <!-- -------------header------------- --> */
          /* <!-- -------------booking------------- --> */
.booking {
    display: flex;
    justify-content:center;
    align-items:center;
    margin: 0 165 0 165;
    
    
}
.booking-img {
}
.booking-title {
    color: #2C2D35;
    font-size: 60px;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 20px;
    
    
}
.booking-text {
     margin-bottom: 60px;
     color: #86928B;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
}
.booking-btn {
    color: #598D66;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    border: 1px solid #598D66;
    display: inline-flex;
    padding: 20px 60px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;
    
   
   
    
}
.booking-title-green {
    color: #598D66;
}
.booking-section-text {
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    margin-left: 30px;
    
    
}
          /* <!-- -------------booking------------- --> */
          /* <!-- -------------products------------- --> */
.products {
}
.conteiner{
    display: flex;
    justify-content: space-around;
    
    


}
.products-title {
    color: #2C2D35;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.1;
}
.products-list {
    display: flex;
    align-items: flex-start;
    margin-top: 70px;

}
.products-list-item {
    
    
    
}
.products-list-btn {
    color: #2C2D35;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    margin: 0 32px 0 32px;
    
    
}
.products-list-book {
   
}
.products-item-list {
    margin-right: 30px;
    margin-bottom: 30px;
    background: #E1EDE6;
    padding: 20px;
   
}
.products-img {
}
.products-text {
}
.products-title-text {
}
.products-text-item {
}
.products-price {
}
.products-btn {
}          
.wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}